.navbar {
  color: #333333;
  background: transparent;
  font-size: 16px;
}

.navbar .nav-link {
  margin-right: 25px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
}

.nav-link.active {
  color: var(--primary-color);
}

.nav-link-icon {
  margin-right: 10px;
}

.menu-dropdown {
  width: 280px;
  background-color: #777777;
  color: var(--white-color);
}

.menu-dropdown .btn-close {
  color: var(--primary-color);
}

.menu-dropdown-list > div {
  height: 72px;
  cursor: pointer;
}

.nav-dropdown {
  margin-right: 25px;
}

.nav-dropdown a {
  color: #333333;
  font-weight: 500;
  font-size: 16px;
}
