.event-title {
  background-color: #942f70;
  padding: 4px, 12px;
  color: #fff;
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
}

.upload-banner {
  background: rgba(242, 242, 242, 0.1);
  background-size: cover;
  border: 1px dashed #f2f2f2;
  border-radius: 0px 64px;
  height: 445px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #14597a;
  font-weight: 600;
  font-size: 20px;
  line-height: 19px;
}

.event-desc-input {
  height: 207px;
  padding: 12px 14px;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  border: 1px solid #d0d5dd;
}

.event-settings-box {
  padding: 20px 20px;
  gap: 20px;
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.event-settings-box__header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px 12px;
  gap: 10px;
  width: 146px;
  height: 60px;
  background: #fef452;
  font-weight: 700;
  font-size: 32px;
  line-height: 60px;
  color: #942f70;
}

.event-settings-box__label {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #344054;
}

.create-social-btn {
  height: 48px;
  background: #fef452;
  border: 1px solid #fef452;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  width: 100%;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #942f70;
}

.icon-lg {
  width: 33.6px;
}

.icon-sm {
  width: 16.8px;
}
